@import '~@vue/ui/dist/vue-ui.css';
@import '~primer-support/index.scss';
@import './assets/fonts/iconfont.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
$primary: #fff;
$secondary: #000;
$trinary: #000;
$bg-topnav: #52576a;
$bg-color: #000;
$bg-disabled: #000;
$text-disabled: #888888;

$body-font-size: 17px;
$border-radius: 0px;
$h1-size: 32px;
$body-line-height: 1.2;
$border: 1px solid $bg-color;

* {
  outline: none;
}

@font-face {
  font-family: Helios;
  src: url("./assets/fonts/Helios_Rounded.otf") format("opentype");
}

@import '~@primer/css/index.scss';

html, body, #app {
  color: white;
  letter-spacing:5px;
  font-family: Helios;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:0px 0px 0.5px;overflow:hidden!important;

}
body{top:0px;left:0px;width:100%;background-image:url("./assets/noise.gif");
  position:absolute;}
.logo-center-wrapper{
  margin-bottom:0.5rem;
  display:flex;
  flex-flow:row;
  justify-content:center;}
  .copy-button{   
    img{transition:filter 0.2s linear;}
    span{opacity:0;transition:opacity 0.2s linear;
      margin:auto;padding-top:1rem;display:block;
      width:100%;text-align:center;}
    &:hover{span{opacity:1;
    }}
  }
  .greek-icons{filter:invert(1);}
  .img-top{opacity:1;position: absolute;z-index:1;transition:opacity 500ms ease;&:hover{animation:flash 200ms linear 1;}}
  .img-bottom{position: absolute;top:0px;left:0px;}
  .middle-1{transform:translatex(-40px);margin-bottom:0.125rem;}
  .middle-2{transform:translatex(-40px);margin-top:0.125rem;}
  .middle-3{transform:translatex(40px);margin-bottom:0.125rem;}
  .middle-4{transform:translatex(40px);margin-top:0.125rem;}
  .sale-button{    
    position: absolute;
    right: 16px;
    top: 64px;
    padding-right: 64px;
    line-height: 64px;
    img{transition:filter 0.2s linear;}
    &:hover{img{filter:invert(1);}}
    span{opacity:0;transition:opacity 0.2s linear;}
    &:hover{span{opacity:1;
    }}
  }
.logo-title{
  filter:invert(1);
  background-image:linear-gradient(45deg, transparent 0%, transparent 0.5rem, black 0.5rem, black calc(100% - 1.5rem), transparent calc(100% - 1.5rem));
  width:512px;
  height:5rem;
  padding:1rem;
  margin:2rem 0rem 0.5rem 0rem;
  font-size:5rem;
  line-height:3rem;}

  .data-title{ padding:1rem 0rem;  font-family: 'Space Mono', monospace!important;
    letter-spacing:1px;}.data-wrapper{width:512px;margin:auto;min-width:256px;}.data-wrapper{width:512px;margin:auto;min-width:256px;}
.full-wrapper{display:flex;flex-flow:column;justify-content: center;height:100vh;
  background-image:radial-gradient(#333e, #000e); }
.copy-icon{clip-path: circle(50% at 50% 50%);
  position:absolute;
  top:0px;
  right:0px;}
  .siblings{display:flex;flex-flow:column;justify-content: space-between;}
  .sibling-icon{clip-path: circle(50% at 50% 50%);transition:height 100ms, margin 100ms ease;height:64px;margin:32px;&:hover{height:128px;margin:0px;}}
.data-triangles{
  width:512px;padding:1rem;
  margin-top:-0.7rem;display:flex;flex-flow:wrap;justify-content:center;}
.triangle-module{
  overflow:visible;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  display:flex;flex-flow:wrap;justify-content:center;
  width:256px;
  height:232px;z-index:2;
  position:relative;
  filter:invert(1);margin:auto -64px ;

background-size:contain;
background-position: center;
background-repeat:no-repeat;margin-bottom: -31px;
&:hover{z-index:3;animation:flash 0.2s linear 1;filter:invert(0);}
&:nth-child(odd){z-index:1;transform:rotate(180deg);  
  img{transform:rotate(180deg);}}
  &:nth-child(4){margin-top: 24px;transform:rotate(180deg);  
    img{transform:rotate(180deg);}}
img{height:64px!important;margin:auto;margin-bottom:46px;}}
.toast{  font-family: Helios;
  background-color:transparent!important;
  position:fixed;left:0px;top:0px;
  line-height:24px;padding-left:32px;
  margin:unset;text-transform:uppercase;}
.background2{
  overflow:hidden;
  height: calc(100vh + 52px);
  width: 100vw;
  position: fixed;
  top: -52px;
  z-index: 0;
  bottom: -32px;
  background-color: white;
  }
.about-wrap{width:512px;max-width:calc(100vw - 2rem);margin:auto;}
  .about-text{
    margin:auto;text-align: center;
    h1{font-size:32px;transition:letter-spacing 100ms ease;
      &:hover{letter-spacing:2px;}}
      
  }

  .para-desktop{display:block!important;}
    .para-mobile{display:none!important;}

  @keyframes flash {
    0%{filter:invert(0);}
    10%{filter:invert(1);}
    20%{filter:invert(0);}
    30%{filter:invert(1);}
    40%{filter:invert(0);}
    50%{filter:invert(1);}
    60%{filter:invert(0);}
    70%{filter:invert(1);}
    80%{filter:invert(0);}
    90%{filter:invert(1);}
    100%{filter:invert(0);}
    
  }
.front{transition:transform 0.2s ease;overflow:hidden!important;}
.parallax-card{transition:transform 0.2s linear;&::before{box-shadow:unset!important;}}
#app {
  z-index:1;
  position:relative;
  background-size:cover;
  height:auto;
  min-height: 100vh;
  overflow: hidden;
}

h1, h2, h3, .button {
  font-family: Helios;
      font-weight:800;
}

h6 {
  color: $bg-color;
  font-size: 14px;
  font-weight: normal;

  a {
    color: $primary;
    text-decoration: underline;
  }
}

a {
  cursor: pointer;
  color: white;

  &:hover {
    text-decoration: none;
  }
}
.vue-particles{
  z-index:0;
  position:fixed;
  top:0px;
  left:0px;
  height:100vh;
  width:100vw;}

.bg-topnav {
  background-color: transparent;
}
.no-marg-l{margin-left:unset!important;}
.no-marg-r{margin-right:unset!important;}

nav{
  z-index:1;
  position:relative;
}

.row{
  display:flex;
  flex-flow:row;
}

.eth-img{margin: auto 2px ;}

.bg-secondary {
  background-color: $secondary;
}

.button {
  cursor: pointer;
  font-weight: bold;
  padding: 0 12px;
  display: inline-block;
  border: 0;
  &:hover{
    opacity:0.8;
  }
  &:disabled {
    color: $text-disabled;
    background-color: $secondary;
    border: 0;
    cursor: not-allowed;
  }
}

.bigshadow{
  text-shadow:0px 1px #eeeeee, 0px 2px #dddddd, 0px 3px #cccccc, 0px 4px #bbbbbb, 0px 5px #aaaaaa, 0px 6px #999999, 0px 7px #888888, 0px 8px #777777, 0px 9px #666666, 0px 10px #555555, 0px 11px #444444,0px 12px #333333, 0px 13px #222222, 0px 14px #111111;}
.warn{color:white;border-bottom:2px solid;}
.button-primary {
  height: 44px;
  line-height: 38px;
  font-weight: bold;
  text-transform: uppercase;
  color: $secondary;
  background-color: $primary;
  border-radius: 100rem;
  box-shadow:0px 4px 8px   rgba(0,0,0,0.5), 0px 2px 10px rgba(0,0,0,0.5);
  border:3px solid $secondary;    
  img{width:36px;filter:invert(1);}
  transform:translateY(0px);
  transition:box-shadow 200ms, transform 200ms linear;
  &:hover{
    img{filter:invert(0);}
    color:white;
    background:black;
    transform:translateY(2px);
    box-shadow:0px 0px 2px  rgba(0,0,0,0.5), 0px 0px 10px rgba(0,0,0,0.5);
  }
}

.button-outline {
  @extend .button-primary;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.8);
  background-color: transparent;
}
.button-tiny{  @extend .button-primary;width:min-content!important;
  margin-left:3px;border-top-left-radius:unset;border-bottom-left-radius:unset;
}
.button-row{display:flex;flex-flow:row;justify-content:center;position: fixed;
  right: 4rem;
  top: 2rem;}
.background-mountain{
  z-index:0;
  position:fixed;
  display:block;
  height:100vh;
  width:100vw;
  margin:unset;
  top:0px;
  left:0px;
  background-size:cover;
  background-attachment:fixed;
  background-position:center;
  background-image:url('./assets/back.png');
}
.medium-button{border-top-right-radius: unset;
  border-bottom-right-radius: unset;}
.button-large-ps{
  @extend .py-4;
  @extend .px-6;
  margin:auto;
  height:auto;width: max-content;
  line-height:4rem;
  text-align:center;
   font-size:4rem;}
.background-second{
  z-index:0;
  position:fixed;
  display:block;
  height:100vh;
  width:100vw;
  mix-blend-mode:overlay;
  margin:unset;
  top:0px;
  left:0px;
  background-size:auto;
  background-attachment:fixed;
  background-position:center;
  background-image:url('./assets/noise.gif');
}
@keyframes flow {
  0%{filter:blur(0.5px)sepia(0)invert(1);}
  25%{filter:blur(0.5px)sepia(1);}
  50%{filter:blur(20px)sepia(0)invert(0.8);}
  75%{filter:blur(0.5px)sepia(1);}
  100%{filter:blur(0.5px)sepia(0)invert(0);}
}

.button-info {
  height: 44px;
  line-height: 44px;
  color: white;
  background-color: $secondary;
  min-width: auto;
}

.countdown-box{
  margin-top:1rem;
}

.flip-card__top{
  color:$primary!important;
  background:$secondary!important;
}
.flip-card__bottom{
  color:$primary!important;
  background:$bg-color!important;
}

.button-select {
  color: white;
  height: 54px;
  line-height: 54px;
  padding: 0 18px;
  background-color: $secondary;

  &.active {
    box-shadow: inset 0 0 0 1px $primary;
  }
}
.logo-inner{height: 64px;
  width: 64px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  line-height: 56px;
  border-radius: 50%;
  border: 4px solid white;
  margin: 32px;
  &:hover{filter:invert(10);background:black}}
.logo-home{position: fixed;
  top: -0rem;
  left: 1.4rem;}
.logo{
  border:3px solid #000;
  background-color:white;
  height:64px;
  border-radius:50%;
  margin:auto 2px;
  img{border-radius:unset;}
  &:hover{filter:invert(1)}
}

.login-bullet {
  width: 14px;
  height: 14px;
  background-color: $primary;
  display: inline-block;
  margin-bottom: -2px;
}

.mainnav {
  height: auto;
  margin:auto;
  line-height: 0;
  overflow:hidden;
  text-align:center;
  border:4px solid $bg-color;
  display: flex;width:max-content;
  box-shadow:0px 5px 50px rgba(0,0,0,0.5);
  opacity:0.4;
  transition:opacity 200ms linear;
  &:hover{opacity:1;}
}

.button-secondary {
  height: 54px;
  line-height: 52px;
  font-size: 24px;
  color: white;

  &.router-link-exact-active {
    color: $primary;
    background-color: $secondary;  
    position:relative;
    z-index:1;
    box-shadow:0px 0px 5px rgba(0,0,0,0.5);

  }
}
.circle-button{text-align:center;}

.form {
  margin:auto 1.7rem;
}
.main-title{
  font-size: 4.7rem;
line-height: 4rem;
  letter-spacing:7px;
  text-align:center;
  text-transform:uppercase;
  text-shadow:3px 3px 0px $secondary;

}
.main-title-2{
  font-size: 10rem;
line-height: 10rem;
  letter-spacing:7px;
  text-align:center;
  text-transform:uppercase;
  text-shadow:3px 3px 0px $secondary;

}
.secondary-title{@extend .main-title;
font-size:2rem;}
.ta-l{text-align:left!important;}

.input {
  text-align: left;
  border: 2px solid $primary;
  background: $bg-color;
  outline: none;
  display: block;
  height: 44px;
  line-height: 40px;
  padding: 0 14px;
  color: white;
  width: 100%;
  box-shadow:0px 4px 8px   rgba(0,0,0,0.5), 0px 2px 10px rgba(0,0,0,0.5);


  &:focus {
    border-color: $bg-color;
  }
}

input.input:read-only {
  cursor: not-allowed;
}

::placeholder {
  opacity: 1;
}

::-webkit-scrollbar-thumb {
  border: 0;
  border-radius: 0;
  background-clip: padding-box;

  &:hover {
  }
}
@keyframes wave{
  0%{  background-size:100%;
  }
  50%{  background-size:120%;
  }
  100%{  background-size:100%;
  }
}

.block {
  @extend .px-4;
  @extend .mb-4;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width:100%;
  max-width:800px;
  height:auto;
  z-index:0;
  margin:auto;
  position:relative;

  p {
    max-width: 400px;
    margin: 0 auto;
  }
}

.hidden{display:none;}

.container-lg {
  max-width: 1086px;
}

.container-sm {
  max-width: 500px;
}

.modal {
  position:inherit;
  z-index:99;
  .backdrop {
    background: transparentize($primary, 0.9) !important;
  }

  .shell {
    background-color:black;
    @extend .block;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 420px;
    max-height:500px;

    .modal-body {
      text-align: center !important;
    }
  }

  .button {
    width: 100%;
    min-width: auto;
  }

  .button-outline {
    max-width: 50%;
  }
}

.text-primary {
  color: $primary;
}

.vue-ui-switch {
  &.selected {
    .wrapper {
      background-color: $primary !important;
    }

    .bullet {
      margin-left: 21px !important;
    }
  }

  .wrapper {
    width: 42px !important;
    height: 20px !important;
    background-color: $secondary !important;

    .bullet {
      width: 18px !important;
      height: 18px !important;
      background-color: white !important;
    }
  }
}

.vue-ui-loading-indicator {
  background-color: transparent !important;

  .animation {
    border-color: transparentize(white, 0.8);
    border-width: 4px !important;
    width: 26px !important;
    height: 26px !important;
    border-right-color: white;
  }
}


.calendar {
  width: 309px;
  margin: 0 auto;

  .day {
    color: $text-disabled;
    text-decoration: none;
    font-size: 17px !important;
    float: left;
    text-align: center;
    line-height: 44px;
    width: 44px;
    height: 44px;

    &.selectable {
      color: white;
      background-color: transparent;

      :hover {
        background-color: $bg-color;
      }
    }

    &.selected {
      background-color: $bg-color;
      color: white;
    }
  }
}

.highlight:hover {
  background-color: $secondary;
}

@media screen and (max-width:600px) {
  .data-wrapper{width:auto;margin:auto;min-width:256px;}
  .logo-center-wrapper{
    margin:auto;
    margin-bottom:0.5rem;
    display:flex;
    flex-flow:column;
    justify-content:center;}
 
  .logo-title{
    width:100%;}
  .data-title{ padding:1rem 0rem;}
  .copy-icon{
    position:absolute;
    top:0px;
    right:0px;}
  .data-triangles{
    width:auto;padding:1rem;
    margin-top:-0.7rem;display:flex;flex-flow:wrap;justify-content:center;}
  .triangle-module{
    display:flex;flex-flow:wrap;justify-content:center;
    width:256px;
    height:232px;z-index:2;
    position:relative;
    filter:invert(1);margin:auto -64px ;
  
  background-size:contain;
  background-position: center;
  background-repeat:no-repeat;margin-bottom: -31px;
  &:hover{z-index:3;animation:flash 0.2s linear 1;filter:invert(0);}
  &:nth-child(odd){z-index:1;transform:rotate(180deg);  
    img{transform:rotate(180deg);}}&:nth-child(3){transform:rotate(0deg);  
      img{transform:rotate(0deg);}}
  img{height:64px!important;margin:auto;margin-bottom:46px;}}  

  .siblings{display:flex;flex-flow:row;justify-content: center;}
  .sibling-icon{clip-path: circle(50% at 50% 50%);transition:height 100ms, margin 100ms ease;height:64px;margin:unset;&:hover{height:128px;margin:0px;}}
  .vuejs-countdown .digit{font-size:20px!important;}
  .middle-1{transform:translatex(0px);margin-bottom:0rem;}
  .middle-2{transform:translatex(0px);margin-top:0rem;}
  .middle-3{transform:translatex(0px);margin-bottom:0rem;}
  .middle-4{transform:translatex(0px);margin-top:0rem;}
.para-desktop{display:none!important;}
.para-mobile{display:block!important;}
.about-text{
  margin:auto;text-align: center;padding:1rem 0rem;
  h1{font-size:20px;transition:letter-spacing 100ms ease;
    &:hover{letter-spacing:2px;}}
    
}
}